extends ../layout
block main
    post
        h2 #{post.title}
        ul
            li #{post.content}
            li
              a(href="/userProfile/" + post.user.id) @#{post.user.fullname}
            li Published #{moment(post.createdAt).fromNow()}
        if loggedInUser
            a(href="/posts/" + post.id + "/edit/") Edit
    for comment in post.comments
        post
            a(href="/userProfile/" + comment.user.id) @#{comment.user.fullname}
            p #{comment.content}
    if loggedInUser
        form(method="post")
            label(for="content") Comment
            textarea(id="content", name="content", placeholder="Thanks for sharing...")
            button(type="submit") Comment
    else
      
      a(href="/signin") Sign in to comment
